
ENV=dev

# Map Box
NEXT_PUBLIC_MAPBOX_TOKEN=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
NEXT_PUBLIC_AWS_REGION=us-east-1
NEXT_PUBLIC_AWS_COGNITO_USERPOOL_ID=
NEXT_PUBLIC_AWS_COGNITO_WEBCLIENT_ID=
NEXT_PUBLIC_AWS_APPSYNC_GRAPHQL_ENDPOINT=
NEXT_PUBLIC_IDENTITY_POOL_ID=
NEXT_PUBLIC_UPLOAD_BUCKET_NAME=

# AWS DynamoDB Tables
CONTENTS_TABLE=

# Open AI
OPENAI_API_KEY=

# Mistral AI
MISTRAL_API_KEY=

# Tip Tap (Free)
TIP_TAP_TOKEN=

# Font Awesome
FONT_AWESOME_TOKEN=

# Cognito
NEXT_PUBLIC_API_URL=