#zhongwen-window {
  background: white !important;
  text: black !importanat;
  border-color: rgb(212, 212, 212) !important;
  padding: 16px;
  -webkit-box-shadow: 21px -26px 131px -68px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 21px -26px 131px -68px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 21px -26px 131px -68px rgba(0, 0, 0, 0.75) !important;
  /* box-shadow: none !important; */
}

.w-hanzi-small {
  background: white !important;
  color: black !important;
}

.w-def-small {
  background: white !important;
  color: rgb(107, 114, 128) !important;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;

  /* margin-bottom: 8px; */
}

.w-pinyin-small.tone1 {
  background: white !important;
  color: rgb(251, 113, 133) !important;
}
.w-pinyin-small.tone2 {
  background: white !important;
  color: rgb(45, 212, 191) !important;
}

.w-pinyin-small.tone3 {
  background: white !important;
  color: rgb(192, 132, 252) !important;
}

.w-pinyin-small.tone4 {
  background: white !important;
  color: rgb(244, 114, 182) !important;
}

.w-pinyin-small.tone5 {
  background: white !important;
  color: black !important;
}

.grammar {
  background: white !important;
  color: rgb(75, 85, 99) !important;
}
.vocab {
  background: white !important;
  color: rgb(75, 85, 99) !important;
}

.dark {
  #zhongwen-window {
    background: black !important;
    text: white !importanat;
    border-color: black !important;
    padding: 16px;
    -webkit-box-shadow: 21px -26px 131px -68px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 21px -26px 131px -68px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 21px -26px 131px -68px rgba(0, 0, 0, 0.75) !important;
    /* box-shadow: none !important; */
  }

  .w-hanzi-small {
    background: black !important;
    color: white !important;
  }

  .w-def-small {
    background: black !important;
    color: rgb(107, 114, 128) !important;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;

    /* margin-bottom: 8px; */
  }

  .w-pinyin-small.tone1 {
    background: black !important;
    color: rgb(251, 113, 133) !important;
  }
  .w-pinyin-small.tone2 {
    background: black !important;
    color: rgb(45, 212, 191) !important;
  }

  .w-pinyin-small.tone3 {
    background: black !important;
    color: rgb(192, 132, 252) !important;
  }

  .w-pinyin-small.tone4 {
    background: black !important;
    color: rgb(244, 114, 182) !important;
  }

  .w-pinyin-small.tone5 {
    background: black !important;
    color: gray !important;
  }

  .grammar {
    background: black !important;
    color: rgb(75, 85, 99) !important;
  }
  .vocab {
    background: black !important;
    color: rgb(75, 85, 99) !important;
  }
}
